/**
 * @name MidnightPurple
 */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
	--backgroundaccent: 50,50,50; /* Background Accent */
	--backgroundprimary: 37,12,75; /* Background 1 */
	--backgroundsecondary: 50,25,88; /* Background 2 */
	--backgroundsecondaryalt: 64,25,102; /* Background 3 */
	--backgroundtertiary: 76,39,114; /* Background 4 */
	--backgroundfloating: 88,50,126; /* Background Elevated */
}
