/**
 * @name PastelPurple
 */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
	--backgroundaccent: 50,50,50; /* Background Accent */
	--backgroundprimary: 48,16,96; /* Background 1 */
	--backgroundsecondary: 64,32,112; /* Background 2 */
	--backgroundsecondaryalt: 80,32,128; /* Background 3 */
	--backgroundtertiary: 96,48,144; /* Background 4 */
	--backgroundfloating: 112,64,160; /* Background Elevated */
	--backgroundfloating: 112,64,160; /* Background Elevated */
}
